.div1{
    background-color: aqua;
    padding: 2px;
    margin: 2px
}
.div2{
    background-color: cadetblue;
    padding: 2px;
    margin: 2px
}
.div3{
    background-color: gray;
    padding: 2px;
    margin: 2px
}