.para1{
    background-color: aqua;
    width: 50%;
}
.para2{
    background-color: blue;
    width: 50%;
}
.para3{
    background-color: brown;
    width: 50%;
}
.para4{
    background-color: chocolate;
    width: 50%;
}