body{
    background-color: darkcyan;
}
h1{
    text-align: center;
    color: brown;
    font-size: large;
    font-style: italic;
}
.friends{
    text-align: inherit;
    background-color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}
