.body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 80vb;
    margin-top: 10vb;
    margin-left: 30%;
    height:80vh;
    border: 20px solid red;
    position: relative;
    background-image: url("imgs/1.jpeg");
}

.btn{
    background-color: white;
    padding: 3px;
    border-radius: 50%;
}

.btn-left{
    position: absolute;
    top: 50%;
    left: -4%;
}
.btn-right{
    position: absolute;
    top: 50%;
    right: -4%;
}